*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
._1l1hzlyc3Rl4DHtsXwsmu2 {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 100vh;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
._3pRz6vJzjxzlFrthJBzM0P {
  font-family: Monaco, monospace;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}
._3pRz6vJzjxzlFrthJBzM0P .thought-box {
  position: absolute;
  left: 35%;
  right: 35%;
  background: #fff;
  border: 2px solid #000;
  bottom: 10%;
  padding: 1em;
  z-index: 10;
}
._3jQMxvFCqJjifjxB0IdmBS {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
}
._3jQMxvFCqJjifjxB0IdmBS img.right {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
._7XxtpuPAeqxYMIvkWddZ7 {
  position: absolute;
  z-index: 1;
}
._1KpSElntuesZTTzQp_OFEh {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  border: 2px solid #000;
  background: #fff;
  z-index: 3;
}
.rRw1_6SszRYvxfFR0c0dD {
  background: #0f0;
  width: 40px;
  height: 9px;
  position: absolute;
  z-index: 1;
}
.rRw1_6SszRYvxfFR0c0dD:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  border-top: 3px solid #00f;
  border-bottom: 3px solid #ffc0cb;
}
