@import 'nib'

:local(.wrapper)
  font-family Monaco, monospace
  text-transform uppercase
  font-weight bold
  font-size .8rem
  .thought-box
    position absolute
    left 35%
    right 35%
    background white
    border 2px solid black
    bottom 10%
    padding 1em
    z-index 10
:local(.Skier)
  position absolute
  top 50%
  transform translateY(-50%)
  left 0
  right 0
  text-align center
  z-index 2
  img
    &.right
      transform rotateY(180deg)
:local(.Tree)
  position absolute
  z-index 1
:local(.Stats)
  position absolute
  top 0
  right 0
  padding 0 1em
  border 2px solid black
  background white
  z-index 3
:local(.Jump)
  background lime
  width 40px
  height 9px
  position absolute
  z-index 1
  &:before
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    content ''
    border-top 3px solid blue
    border-bottom 3px solid pink