@import 'nib'

*
*:before
*:after
	box-sizing border-box

body
	margin 0
	padding 0
:local(.wrapper)
	background white
	font-family 'Roboto', sans-serif
	display flex
	flex-direction row
	min-height 100vh
	position relative
	max-width 100%
	overflow hidden